.btn {
	height: 34px;
	padding: 5px 20px;
	line-height: 1;
	text-align: center;
	border: 2px solid;
	background-color: transparent;
	
	&:active, &:focus {
		box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	}
}

.btn--green {
	color: $color-primary;
	border-color: $color-primary;
}

.btn--round {
	border-radius: 5px;
}