
/* Colors */

/* Basic color. All elements without styles will inherit this color, including typography */

$color-basic: #333;

/* Primary color - the primary color of GUI */

$color-primary: lightgreen;

/* Basic vertical offset. Site vertical offsets will be divisible by this unit, for vertical rhythm */

$v-offset: 5px;