doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title
        link(rel='stylesheet', href='css/style.css')
        script(src='js/bundle.js')
        //script(src='js/bundle.min.js')
    body
        div.main-wrapper
            header.header
            div.test-container
                h1 Dis is a document title
                p.
                    Pug is a terse and simple templating language with a
                    strong focus on performance and powerful features.
                p.
                    No! You don't even believe that! Gus has cameras everywhere, please. Listen to yourself! No, he has known everything, all along. Where were you today? In the lab? And you don't think it's possible that Tyrus lifted the cigarette out of your locker? Come on! Don't you see? You are the last piece of the puzzle. You are everything that he's wanted.
                p.
                    You're his cook now. You're the cook and you have proven that you can run a lab without me and now that cook has reason to kill me. Think about it! It's brilliant. So go ahead. If you think that I am capable of doing this, then go ahead. Put a bullet, in my head, and kill me right now. DO IT! Do it. Do it. Do it.
                h2 2 level title
                h3 3 level title
                h4 4 level title
                h5 5 level title
                h6 6 level title
                h4 Ordered list
                ol
                    li.
                        list item
                    li.
                        list item
                    li.
                        list item
                h4 Unordered list
                ul
                    li.
                        list item
                    li.
                        list item
                    li.
                        list item
        footer.footer